* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Raleway', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00555C;
    padding: 20px;
}
.logo img {
    max-width: 150px; 
    max-height: 40px; 
}


.nav-menu a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.container {
    flex: 1;
    width: 90%;
    max-width: 1200px;
    min-width: 300px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    min-height: 70vh;
    background-color: #f4f4f4;
}

.container:hover {
    transform: translateY(-25px);
}
.ContactInfo {
    margin-bottom: 2rem;
}

.ContactInfo h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.ContactForm h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
}

button {
    padding: 1rem;
    background-color: var(--VistaRood);
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--VistaGroen);
}

footer {
    text-align: center;
    padding: 1rem 0;
    color: white;
    margin-top: 2rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 50%;
    }
}
