* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00555C;
    padding: 20px;
}
.logo img {
    max-width: 150px; 
    max-height: 40px; 
}


.nav-menu a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.contact-section {
    padding: 50px;
    text-align: center;
    background-color: #f1f1f1;
}

.contact-section h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.section-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    color: black;
}

.card {
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: all 0.6s ease;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: left;
}

.card:hover {
    cursor: default;
    border: 1px solid var(#00555C);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 22px;
    margin: 25px 0;
}

.card p {
    font-size: 16px;
}

.GegevensAlinea {
    margin: 15px 0 7px 0;
}

.card p a {
    text-decoration: none;
    color: black;
}

.card p a:hover {
    color: #EC644A;
}

.card button {
    background-color: #EC644A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.card button:hover {
    background-color: #FFF265;
    color: #EC644A;
}

.ContactForm form {
    display: flex;
    flex-direction: column;
}

.ContactForm input[type=text],
.ContactForm input[type=email],
.ContactForm textarea,
.ContactForm select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  

footer {
    background-color: #00555C;
    color: #fff;
    text-align: center;
    padding: 20px;
}


@media only screen and (max-width: 600px) {
    .nav-menu {
        max-width: 200px;
    }
}