
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
}


.pricing-section {
    padding: 50px;
    text-align: center;
    min-height: 97vh;
}

.pricing-section h1 {
    font-size: 56px;
    margin-bottom: 60px;
    color: #333;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #030303;
    gap: 30px;
}

.card {
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 300px;
    /* max-width: 350px; */
    text-align: left;
}
.card:hover {
    cursor: default;
    transform: translateY(-15px);
    border: 1px solid var(#00555C);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 22px;
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card button {
    background-color: #EC644A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #FFF265;
    color: #EC644A;
    transform: scale(1.03);
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
    max-height: 80vh; 
    overflow-y: auto;
    padding: 20px; 
    border-radius: 8px;
    color: black;
}
  
.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
}
.modal-image {
    max-width: 100%;  
    max-height: 200px; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
}

@media  (max-width: 768px) {
    .nav-menu {
        max-width: 200px;
    }

    .pricing-cards {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .pricing-cards {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .pricing-cards {
        gap: 20px;
    }
}

@media (min-width: 1400px) {
    .pricing-cards {
        gap: 40px;
        
    }

    .card {
        max-width: 300px;
    }
}

@media (min-width: 1600px) {
    .pricing-cards {
        gap: 60px;
        
    }
}

@media (min-width: 2000px) {
    .pricing-cards {
       gap: 120px;
    }
}

@media (min-width: 2560px) {
    .pricing-cards {
       gap: 150px;
    }
}

