* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
   
}

img {
    display: flex;
    width: 90px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-left: 350px;
    margin-top: 10px;
}

label,
input {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

 .submit{
    background-color: rgb(23, 28, 35);
    display: flex;
    width: 90px;
    height: 40px;
    margin-left: 460px;
    padding-top: 2px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00555C;
    padding: 20px;
}

.logo img {
    max-width: 150px;
    max-height: 40px;
}


.nav-menu a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}