body {
    width: 100%;
}

img {
    display: flex;
    width: 90px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-left: 410px;
}

label,
input {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.register {
    background-color: rgb(120, 163, 238);
    display: flex;
    width: 100px;
    height: 30px;
    margin-left: 520px;
    padding-top: 5px;
    margin-top: 20px;

}